<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.firstName %></li>
		<li><a href="/recipient/dashboard">Dashboard</a></li>
		<li><a href="/recipient/collections/pending">My Pending Collections</a></li>
		<li><a href="/recipient/collections/previous">My Previous Collections</a></li>
		<li><a href="/recipient/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn btn-danger rounded">Logout</a></li>
	</ul>
</div>