<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../../assets/css/About.css" rel="stylesheet" type="text/css">
	
	<title>Document</title>
</head>
<body>

<div>
	<div class="about">
		<div class="about-image"></div>
		<div class="about-content">
			<div>
		
				
				<h3 style="text-align: center;">Welcome!</h3><br>
				<p><span id="W_Name2">Relief material</span> is a Professional <span id="W_Type1">platform</span> 
					where we monitor relief material donations. <br>
					We're dedicated to providing you the best of 
					<span id="W_Type2">charity</span>, with a focus on dependability and 
					<span id="W_Spec">sustainability</span>.<br> We're working to turn our passion for
					 <span id="W_Type3">charity</span> into a system of transforming many lives.
					
					   
			<p> Please give your support and love.</p>
			<p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>
			<span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a lovely day!</span></p>
				
		</div>
		
	</div>

		<!-- FOOTER -->
		<section class="container-fluid position-fixed bottom-0 bg-dark">

			<div class="d-flex justify-content-around  ">
		
				<div class="box">
					<h3 class="text-center text-light">quick links</h3>
					<a href="#"> <i class="fas fa-chevron-right text-light text-decoration-none"></i> home </a></br>
					<a href="#"> <i class="fas fa-chevron-right text-light"></i> Mission </a></br>
					<a href="#"> <i class="fas fa-chevron-right text-light"></i> about </a></br>
					<a href="#"> <i class="fas fa-chevron-right text-light"></i> Contact </a>
	
				</div>
		
				<div class="box">
					<h3 class="text-center text-light">contact info</h3>
					<a href="#"> <i class="fas fa-phone"></i> +254791582604 </a></br>
					<a href="#"> <i class="fas fa-phone"></i> +25489564578 </a></br>
					<a href="#"> <i class="fas fa-envelope"></i> leah@gmail.com </a></br>
					<a href="#"> <i class="fas fa-envelope"></i> ohuru@gmail.com </a></br>
					<a href="#"> <i class="fas fa-map-marker-alt"></i> Machakos, Kenya - 136-90100 </a>
				</div>
		
				<div class="box">
					<h3 class="text-center text-light">follow us</h3>
					<a href="#"> <i class="fab fa-facebook-f"></i> facebook </a></br>
					<a href="#"> <i class="fab fa-twitter"></i> twitter </a></br>
					<a href="#"> <i class="fab fa-instagram"></i> instagram </a></br>
					<a href="#"> <i class="fab fa-linkedin"></i> linkedin </a></br>
					<a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
				</div>
		
			</div>
		
		
		
		</section>
</div>
</body>
</html>