<h1 class="m-4 color-theme">Contact us</h1>
	
<div class="bg-white">
	<ul class="fs-5">
		<li>For any concerns, please call at our toll free numbers between 9 AM to 6 PM:</li>
		<ul>
			<li>254789898989 (within Kenya)</li>
			<li>254789898989 (within Kenya)</li>
		</ul>
		<li>You can also visit our offices and to get insights of how our agents serve  at different places.</li>
		<ul>
			<li>12222, Machakos</li>
			<li>1232131, Nairobi</li>
		</ul>
		<li>You can also email your suggestions and feedback at <mark>xyz@gmail.com</mark></li>
	</ul>

		<!-- FOOTER -->
		<section class="container-fluid position-fixed bottom-0 bg-dark">

			<div class="d-flex justify-content-around  ">
		
				<div class="box">
					<h3 class="text-center text-light">quick links</h3>
					<a href="#"> <i class="fas fa-chevron-right text-light text-decoration-none"></i> home </a></br>
					<a href="#"> <i class="fas fa-chevron-right text-light"></i> Mission </a></br>
					<a href="#"> <i class="fas fa-chevron-right text-light"></i> about </a></br>
					<a href="#"> <i class="fas fa-chevron-right text-light"></i> Contact </a>
	
				</div>
		
				<div class="box">
					<h3 class="text-center text-light">contact info</h3>
					<a href="#"> <i class="fas fa-phone"></i> +254791582604 </a></br>
					<a href="#"> <i class="fas fa-phone"></i> +25489564578 </a></br>
					<a href="#"> <i class="fas fa-envelope"></i> leah@gmail.com </a></br>
					<a href="#"> <i class="fas fa-envelope"></i> ohuru@gmail.com </a></br>
					<a href="#"> <i class="fas fa-map-marker-alt"></i> Machakos, Kenya - 136-90100 </a>
				</div>
		
				<div class="box">
					<h3 class="text-center text-light">follow us</h3>
					<a href="#"> <i class="fab fa-facebook-f"></i> facebook </a></br>
					<a href="#"> <i class="fab fa-twitter"></i> twitter </a></br>
					<a href="#"> <i class="fab fa-instagram"></i> instagram </a></br>
					<a href="#"> <i class="fab fa-linkedin"></i> linkedin </a></br>
					<a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
				</div>
		
			</div>
		
		
		
		</section>
</div>