<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../../assets/css/home.css" rel="stylesheet" type="text/css">
	<title>relief</title>
</head>
<body>
	<div>
		<div class="container-fluid">
			
			<img class="w-100" src="/assets/images/bg.jpg" alt="...">
			<h1 class="home-title">RELIEF MATERIAL MONITORING SYSTEM</h1>
		</div>
		
		
		<!-- HOME -->
		
		
			
	
		<!-- FOOTER -->
		<section class="container-fluid position-relative bottom-0 bg-dark">
	
			<div class="d-flex justify-content-around  ">
		
				<div class="box">
					<h3 class="text-center text-light">quick links</h3>
					
					
							<a href="#"> <i class="fas fa-chevron-right text-light text-decoration-none"></i> home </a></br>
							<a href="#"> <i class="fas fa-chevron-right text-light"></i> Mission </a></br>
				
							<a href="#"> <i class="fas fa-chevron-right text-light"></i> about </a></br>
							<a href="#"> <i class="fas fa-chevron-right text-light"></i> Contact </a>
				
				
					
	
				</div>
		
				<div class="box" >
					<h3 class="text-center text-light">contact info</h3>
				
				
					
							<a href="#"> <i class="fas fa-phone m-2"></i> +254791582604 </a></br>
							<a href="#"> <i class="fas fa-phone m-2"></i> +25489564578 </a></br>
			
							<a href="#"> <i class="fas fa-envelope m-2"></i> leah@gmail.com </a></br>
						<a href="#"> <i class="fas fa-envelope m-2"></i> ohuru@gmail.com </a></br>
			
				
						<a href="#"> <i class="fas fa-map-marker-alt ml-2"></i> Machakos, Kenya - 136-90100 </a>
			
					
					
		
				</div>
				<div class="box" >
					<h3 class="text-center text-light">follow us</h3>
					
				
					
							<a href="#"> <i class="fab fa-facebook-f m-2"></i> facebook </a></br>
							<a href="#"> <i class="fab fa-twitter m-2"></i> twitter </a></br>
					
						
							<a href="#"> <i class="fab fa-instagram m-2"></i> instagram </a></br>
							<a href="#"> <i class="fab fa-linkedin m-2"></i> linkedin </a></br>
					
					
			
						<a href="#"> <i class="fab fa-pinterest m-1"></i> pinterest </a>
			
					
					
			
				</div>
		
				
		
			</div>
		
		
		
		</section>
		
	</div>
</body>
</html>