.about{
    display: flex;
    justify-content: space-around;
}
.about-image{
    background: url("../images/wtt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    height: 68vh;
    width: 50vw;
   
  
}
.about-content{
margin: 3rem;

}