.home{
    background: url("../images//image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
   
}
.home-title{
    position: absolute;
    top: 0;
    text-align: center;
    margin: 8rem;
    margin-left: 44vw;
    z-index: 1000;
    color: black;
    font-size: 34px;
    font-weight: bolder;
}